* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 3000px;
  background: url('../img/1.png') repeat-y;
  background-size: contain;
}

.container {
  height: 605px;
  width: 380px;
  border: none;
  position: fixed;
  right: -400px;
  bottom: 100px;
  border-radius: 5px;
  transition: all .9s;
}

.container__inner {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.container__inner_close {
  cursor: pointer;
  position: absolute;
  height: 20px;
  width: 20px;
  right: -20px;
  top: -20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__inner_close:hover {
  color: red;
  border: 2px solid red;
  font-weight: 700;
}

.active {
  right: 40px;
}

.button.bot1 {
  width: 70px;
  height: 70px;
  background: url('../img/customer-support.png') no-repeat center center;
  outline: none;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
}

.chat-and-input__input_wrapper {
  position: relative;
}

.inp_text {
  position: absolute;
  left: 0;
  font-size: 16px;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  outline: none;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  color: brown;
  display: none;
}

.chat-wrapper {
  height: 570px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-and-input {
  border-radius: 5px;
}

.send_button {
  padding: 3px;
  border: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  margin: 5px;
  color: rgb(199, 38, 65);
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.1rem;
  width: 32px;
  height: 32px;
  margin-top: 4px;
  background: #fff;
  outline: none !important;
}

.send_button:hover {
  background: #f40000;
  color: #fff;
}

.to {
  padding: 10px 15px 8px;
  border-radius: 20px;
  margin-bottom: 5px;
  clear: both;
  max-width: 65%;
  word-wrap: break-word;
  background: #efefef;
  color: #333;
  border-top-left-radius: 0;
  float: left;
  font-size: 16px;
  margin: 15px;
  user-select: none;
}


.from {
  background: rgb(255, 201, 201);
  color: rgb(199, 38, 65);
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  display: block;
  padding: 10px 15px 8px;
  margin-bottom: 5px;
  top: 120px;
  right: 10px;
  clear: both;
  text-align: center;
  min-width: 50px;
  max-width: 65%;
  word-wrap: break-word;
  margin: 0px 15px 5px 0;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;

}

label {
  user-select: none;
  cursor: pointer;
}

.blue {
  background-color: rgb(199, 38, 65);
  color: white;
}

a {
  text-decoration: none;
  display: block; 
  color: #fff;
  text-align: center;
}

.links {
  background-color: maroon;
  border-radius: 20px;
  min-width: 200px;
  /* margin:  5px 0 5px 15px; */
  margin: 5px auto;
  
}

.links:hover {
  background: red;
  cursor: pointer;
  text-decoration: underline;
}

.answersDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answered {
  flex-direction: column;
  align-items: flex-end;
}
.answer {
  transition: all .5s;
}
.answered > .answer {
  border-top-right-radius: 0;
}
